body { font-family: 'Montserrat', sans-serif; }
.custom-green { background-color: #228B22 !important; }
.header-logo { height: 50px; border-radius: 4px; }

body.dark-mode { background-color: #121212; color: #f0f0f0; }
body.dark-mode .custom-green { background-color: #145214 !important; }
body.dark-mode .form-control { background-color: #1e1e1e; color: #fff; border-color: #444; }
body.dark-mode .btn-success { background-color: #1e7e34; border-color: #1c7430; }
  

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #f0fff0;
  display: flex;
  flex-direction: column;
}

.custom-green {
  background-color: #228B22 !important;
}

.header-logo {
  height: 50px;
  border-radius: 4px;
}

.light-mode {
  background-color: #f0fff0;
  color: #000;
}

.dark-mode {
  background-color: #121212;
  color: #fff;
}

.container h2, .container h3 {
  text-align: center;
  margin-bottom: 20px;
}

.list-group-item {
  background-color: #e8f5e9;
  margin-bottom: 5px;
  border-radius: 5px;
}

.list-group-item:nth-child(odd) {
  background-color: #d0f0c0;
}

.btn-success {
  background-color: #228B22;
  border: none;
}

.btn-success:hover {
  background-color: #196619;
}
